body {
   font-family: 'Roboto', sans-serif;
   margin: 0;
   min-height: 100vh;
}

ul {
   list-style: none;
   display: flex;
   width: 420px;
   justify-content: space-between;
   padding-right: 120px;
   gap: 20px;

}

a {
   text-decoration: none;
   color: #f9faf8;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #1f2937
}

.left-links {
   padding-left: 200px;
   font-size: 24px;
   font-weight: 1000;
}

.right-links {
   font-size: 18px;
   color: #e5e7eb
}