body {
   font-family: 'Roboto', sans-serif;
   margin: 0;
   min-height: 100vh;
}

ul {
   list-style: none;
   display: flex;
   width: 420px;
   justify-content: space-between;
   padding-right: 120px;
   gap: 20px;

}

a {
   text-decoration: none;
   color: #f9faf8;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #1f2937;
   padding-bottom: 100px;
}

.left-links {
   padding-left: 200px;
   font-size: 24px;
   font-weight: bolder;
}

.right-links {
   font-size: 18px;
   color: #e5e7eb
}

.body-container {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #1f2937;
   padding-bottom: 130px;
}

.body-container .body-leftside .body-title {
   font-size: 48px;
   font-weight: bolder;
   color: #f9faf8;
}

.body-container .body-leftside .body-text,
.body-container .body-rightside {
   font-size: 18px;
   color: #f9faf8;
}

.body-button {
   background-color: #3882f6;
   color: white;
   font-size: 18px;
   font-weight: bold;
   border: none;
   border-radius: 5px;
   padding: 5px 30px;
   margin-top: 15px;
}

.body-leftside {
   width: 460px;
   height: 240px;
   display: flex;
   flex-direction: column;
}

.body-rightside {
   width: 525px;
   height: 240px;
   background: #85888d;
   display: flex;
   justify-content: center;
   align-items: center;
}

.img-placeholder {
   font-size: bold;
}

.cards-container {
   height: 500px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.info-header {
   font-size: 36px;
   font-weight: bolder;
   color: #1f2937;
   padding: 50px 50px;
}

.images-container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 50px;
   height: 500px;
}

.card {
   border: 4px solid #3882f6;
   width: 170px;
   height: 170px;
   border-radius: 20px;
   margin-bottom: 10px;
}

.text {
   max-width: 170px;
   text-align: center;
   color: #5c5f64
}